<div class="toolbar-padding">
    <div class="heading">
        <p>You can donate to below NGOs</p>
    </div>

    <div class="centered">
        <section class="cards">
            <article class="card">
                <div class="card-top">
                    <img class="card-icon" src="./assets/images/ngo.png" />
                    <div class="card-top-data">
                        <p>NGO1</p>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <button mat-raised-button class="btn btn-primary">Donate Now!</button>
                    </div>
                </div>
            </article><!-- /card-one -->

            <article class="card">
                <div class="card-top">
                    <img class="card-icon" src="./assets/images/ngo_1.png" />
                    <div class="card-top-data">
                        <p>NGO2</p>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <button mat-raised-button class="btn btn-primary">Donate Now!</button>
                    </div>
                </div>
            </article><!-- /card-two -->

            <article class="card">
                <div class="card-top" routerLink="/vaccinations">
                    <img class="card-icon" src="./assets/images/ngo.png" />
                    <div class="card-top-data">
                        <p>NGO3</p>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <button mat-raised-button class="btn btn-primary">Donate Now!</button>
                    </div>
                </div>
            </article><!-- /card-three -->
            <article class="card">
                <div class="card-top" routerLink="/vaccinations">
                    <img class="card-icon" src="./assets/images/ngo_1.png" />
                    <div class="card-top-data">
                        <p>NGO4</p>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <button mat-raised-button class="btn btn-primary">Donate Now!</button>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>