.container {
    width: 50%;
}

.field {
    width: 80%;
}

.form-heading {
    font-size:  1.5rem;
    padding-bottom: 5%;
}

.confirm-msg{
    font-size:  1.3rem;
    color: green;
    padding-bottom: 2%;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    .heading {
        font-size: 1rem;
        padding: 5%;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 90%;
    }
    .heading {
        font-size: 1rem;
        padding: 5%;
    }
}