.cards {
    display        : flex;
    justify-content: space-between;
    margin-top     : inherit;
}

.heading {
    margin: 1%;
    margin-bottom: 2%;
    margin-top: -2%;
    padding: 3%;
    background   : white;
    font-size: 2rem;
    box-shadow   : 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.card {
    background   : white;
    margin-bottom: 2em;
    flex         : 0 1 calc(25% - 1em);
    margin-bottom: 2em;
    box-shadow   : 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.card a {
    color          : black;
    text-decoration: none;
}

.card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top   : 0;
    margin-bottom: .5em;
    font-weight  : bold;
}

.card-content p {
    font-size: 80%;
}

.card-top {
    margin-left : 10%;
    margin-right: 10%;
    margin-top  : -15px;
}

.card-top-data {
    float     : right;
    margin-top: 2rem;
    text-align: right;
}


.card-icon {
    border-radius: 3px;
    text-align   : left;
    margin-right : 1rem;
    width        : 25%;
    margin-top: 10%;
}

.info {
    text-align: center;
    font-size: 1.5rem;
}
.link {
    color: #a71622;
}
a:hover {
    color        : #1655a7;
    -webkit-transition: all 0.25s ease-in;
    transition        : all 0.25s ease-in;
}

/* Flexbox stuff */

@media screen and (max-width: 992px) {
    .cards {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;
        margin-top     : -1em;
    }

    .card {
        display      : flex;
        flex         : 0 1 calc(50% - 1em);
        margin-bottom: 2em;
    }
}


@media screen and (max-width: 600px) {
    .cards {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;
        margin-top     : -1em;
    }

    .card {
        display      : flex;
        flex         : 0 1 95%;
        margin-bottom: 2em;
    }
    
    .heading {
        margin-bottom: 8%;
        margin-left: 3%;
        margin-right: 8%;
        padding: 3%;
        // background   : white;
        font-size: 1rem;
        box-shadow   : 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
}

.centered {
    margin : 0 auto;
    padding: 0 1em;
}