.cards {
    display        : flex;
    justify-content: space-between;
    margin-top     : inherit;
}


.card {
    background   : white;
    margin-bottom: 2em;
    flex         : 0 1 calc(25% - 1em);
    margin-bottom: 2em;
    box-shadow   : 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.card a {
    color          : black;
    text-decoration: none;
}

.card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top   : 0;
    margin-bottom: .5em;
    font-weight  : bold;
}

.card-content p {
    font-size: 80%;
}

.card-top {
    margin-left : 10%;
    margin-right: 10%;
    margin-top  : -15px;
}

.card-top-data {
    float     : right;
    margin-top: 2rem;
    text-align: right;
}


.card-icon {
    border-radius: 3px;
    box-shadow   : 0 2px 9px 0 rgb(0 0 0 / 20%), 0 2px 13px 0 rgb(0 0 0 / 19%);
    text-align   : left;
    margin-right : 1rem;
    width        : 25%;
}

/* Flexbox stuff */

@media screen and (max-width: 992px) {
    .cards {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;
        margin-top     : -1em;
    }

    .card {
        display      : flex;
        flex         : 0 1 calc(50% - 1em);
        margin-bottom: 2em;
    }
}


@media screen and (max-width: 600px) {
    .cards {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;
        margin-top     : -1em;
    }

    .card {
        display      : flex;
        flex         : 0 1 95%;
        margin-bottom: 2em;
    }
}

.centered {
    margin : 0 auto;
    padding: 0 1em;
}