.field {
    padding: 2%;
    padding-top: 3%;
    width: 45%;
}

.submit {
    padding-left: 2%;
}

.state_field {
    padding: 2%;
    padding-top: 3%;
}
.city_field {
    padding: 2%;
    padding-top: 3%;
    padding-left: 0;
}

table {
    width: 100%;
}