.field {
    padding: 2%;
    padding-top: 3%;
    width: 45%;
}

.submit {
    padding-left: 2%;
}

.state_field {
    padding: 2%;
    padding-top: 3%;
}
.city_field {
    padding: 2%;
    padding-top: 3%;
    padding-left: 0;
}

table {
    width: 100%;
}

.heading {
    font-size: 1.5rem;
    padding-top: 3%;
}

.available{
    color: green;
    font-weight: bold;
}

.notAvailable{
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .heading {
        font-size: 1rem;
        padding-top: 3%;
    }
}

@media screen and (max-width: 992px) {
    .heading {
        font-size: 1rem;
        padding-top: 3%;
    }
}